.venv/
**/aws
node_modules
**/node_modules/
dist/
**/build/
src/backend/base/axiestudio/frontend
**/axiestudio-pre.db
**/axiestudio.db
.git/
.github/
docs/
tests/
*.md
*.pyc
__pycache__/
*.log
.env
.venv/
venv/
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
